/* Body Styling ----------------------------- */
html {
  scroll-behavior: smooth;
  background-color: rgb(153, 117, 203);
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  line-height: 1.6;
  background-color: rgb(153, 117, 203);
  overflow-x: hidden;
  height: 100%;
}

.container {
  margin: 0;
  width: 80%;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  color: white;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  max-width: none;
  min-height: 100vh;
  padding-top: 80px;
  align-items: center;
  position: relative;
}

/* Header styling ----------------------------- */

.header-bar {
  background-color: rgb(153, 117, 203);
  box-shadow: 0px 1px 5px rgb(15, 0, 27);
  width: 100%;
  top: 0;
  left: 0;
  height: 80px;
  position: absolute;
  display: flex;
  justify-content: end;
}

.close-icon {
  position: relative;
  padding: 25px;
  font-size: 2rem;
  color: rgb(153, 117, 203);
  cursor: pointer;
}

.menu-icon {
  position: relative;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  padding: 15px 50px 0px 0px;
  z-index: 2;
  font-weight: 700;
}

.side-menu {
  position: fixed;
  top: 0;
  width: 0;
  right: 0;
  height: 100%;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  background-color: white;
  transition: 0.5s;
  z-index: 1000;
}

.close-icon {
  position: relative;
}

.side-menu a {
  display: block;
}

.menu-text {
  list-style: none;
  width: 100%;
  padding: 0;
  margin-left: 30px;
  margin-top: 60px;
}

.menu-text a {
  margin: 20px 0;
  color: rgb(22, 22, 22);
  text-decoration: none;
  font-size: 1.2rem;
}

/* Intro styling ----------------------------- */
.title {
  width: 100%;
  background-color: rgb(25, 25, 25);
}

.title-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: none;
  margin: auto;
  height: 80vh;
}

.text-wrap {
  flex: 1;
}

.text-wrap h1,
.text-wrap h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.text-wrap h1 {
  padding-top: 20px;
  line-height: 1.4;
  font-size: 1.4rem;
}
.text-wrap h3 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.8;
}

.profile-pic {
  flex-shrink: 0;
  width: 24vw;
  height: 24vw;
  border-radius: 0%;
  margin-left: 50px;
  padding: 8px;
  background-color: rgb(153, 117, 203);
}

.cv-button {
  padding: 0.9vw 10px;
  margin-top: 20px;
  background-color: rgb(64, 64, 64);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.cv-button:hover {
  background-color: rgb(56, 56, 56);
  padding: 1vw 12px;
}

/* Text Styling */

.highlight {
  position: relative;
  display: inline-block;
}

.highlight::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 3px;
  width: 100%;
  background-color: rgb(153, 117, 203);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 1s ease-in;
}

.highlight.active::after {
  transform: scaleX(1);
}

.highlight1 {
  position: relative;
  display: inline-block;
}

.highlight1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 3px;
  width: 100%;
  background-color: rgb(153, 117, 203);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.7s ease-in-out;
}

.highlight1.active::after {
  transform: scaleX(1);
}

.underline {
  text-decoration: underline;
  color: rgb(134, 206, 226);
}

.underline-purple {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.underline-purple::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 2px;
  width: 100%;
  background-color: rgb(153, 117, 203);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 1.3s ease-in-out;
}

.underline-purple.active::after {
  transform: scaleX(1);
}

/* Software Styling ----------------------------- */

.software {
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.sw-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
  padding: 0;
  width: 100%;
  max-width: none;
  max-width: 800px;
  margin: auto;
  background-color: rgb(255, 255, 255);
}

.sw-pic {
  width: 6vw;
  padding: 5px;
  margin: auto;
}
.sw-pic-vscode {
  width: 5.5vw;
}

/* Projects Styling -----------------------------*/

.project-container {
  width: 100%;
  padding: 30px 0;
  background-color: rgb(25, 25, 25);
}

.project-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}

.project-content h1 {
  text-align: left;
  width: fit-content;
}

.project-card {
  padding: 1.5rem;
  border-radius: 13px;
  background-color: rgb(39, 39, 39);
  text-align: left;
}

.project-card h2 {
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  margin-bottom: 0.5rem;
}
.project-card img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

.project-card p {
  font-size: 1rem;
}

.tags {
  display: flex;
  gap: 0.5rem;
}

.tag {
  background-color: rgb(87, 178, 203);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
}

.project-content h1 {
  grid-column: 1 / -1;
}

@media (max-width: 900px) {
  .project-content {
    grid-template-columns: 1fr;
  }
}

/* Education/Club Styling ----------------------------- */

.education,
.club {
  background-color: #ffffff;
  width: 100%;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.club {
  background-color: rgb(134, 206, 226);
}
.education-content,
.club-content {
  width: 100%;
  max-width: none;
  margin: auto;
  background-color: rgb(29, 29, 29);
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.club-item {
  background-color: rgb(29, 29, 29);
  margin: 0 auto 1rem 0;
  padding: 0px;
  width: 100%;
  border-radius: 3px;
  text-align: left;
}

.club-header {
  width: 100%;
  position: relative;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 0;
}

.club-header h1 {
  background-color: rgb(29, 29, 29);
  width: fit-content;
  padding: 0px 10px;
  text-align: left;
  border-radius: 3px;
}
.club-item h2 {
  font-size: 1.2rem;
  color: rgb(134, 206, 226);
}

.education-content h1 {
  margin: 0;
  text-align: left;
  font-size: 2rem;
  width: fit-content;
}

.education-content h2 {
  font-size: 1.2rem;
  margin: 20px 0px;
  color: rgb(255, 255, 255);
}

.education-content h3 {
  font-size: 1.2rem;
  margin: auto;
  text-align: left;
  color: rgb(255, 255, 255);
}

.education-content h4 {
  transform: translateY(-10px);
  font-size: 1.2rem;
  font-weight: 300;
  margin: auto;
  text-align: left;
  color: rgb(255, 255, 255);
}

.education-content p {
  font-size: 11pt;
  margin: 10px 0;
  line-height: 1.8;
}

.course-list {
  margin-top: 10px;
  line-height: 1.6;
}

.education-content li {
  margin: 5px 0;
}

.course-description {
  display: none;
  margin-top: 10px;
}

.course-item {
  list-style: none;
}

.course-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  font-size: 12pt;
  font-weight: 300;
}

.dropdown-btn {
  background: none;
  border: none;
  color: rgb(153, 117, 203);
  font-size: 1.6rem;
  cursor: pointer;
  margin-left: 20px;
  padding: 0;
}

.course-list {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  color: white;
}

/* Contact Styling ----------------------------- */

.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 40px 0px;
  width: 100%;
  max-width: none;
}

.contact-item {
  display: flex;
  align-items: center;
  margin: 10px 20px;
}

.contact-icon {
  margin-right: 10px;
}

.contact-icon img {
  width: 4vw;
  height: auto;
}

.contact-text {
  font-size: 1.2rem;
}

.contact-button {
  margin-left: 3vw;
  padding: 1vw 10px;
  background-color: #191919;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.contact-button:hover {
  background-color: rgb(56, 56, 56);
  padding: 1.2vw 12px;
}

@media (max-width: 700px) {
  .contact-content {
    flex-direction: column;
  }

  .contact-item {
    margin: 5px 0;
  }

  .contact-icon img {
    width: 5vw;
  }

  .contact-text {
    font-size: 1rem;
  }

  .contact-button {
    margin: 20px 0;
  }
  .profile-pic {
    display: none;
  }
}
