html{
  scroll-behavior: smooth;
  background-color: rgb(153, 117, 203);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', sans-serif;
  line-height: 1.8;
  background-color: rgb(153, 117, 203);
  overflow-x: hidden;  
  height: 100%;
  display: flex;
}

.main {
  color: white;
  padding: 0;
  margin: 0;
  overflow-x: hidden;  
  width: 100%;
  min-height: 100vh;
  padding-top: 80px;
  align-items: center;
  position: relative; 
}

.title {
  width: 100%;
  background-color: rgb(29, 29, 29);
}

.title-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; 
  position: relative; /* Ensure it positions relative to the container */
  max-width: 800px;
  width: 90%;
  margin: auto;
  height: 80vh;
}

.text-wrap {
  flex: 1;
}

.text-wrap h1,
.text-wrap h3 {
  margin: 0;
  padding: 10px 0; 
}

.highlight {
  position: relative;
  display: inline-block;
}

.highlight::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust the space between the text and underline */
  height: 3px; /* Adjust the height of the underline */
  width: 100%;
  background-color:  rgb(153, 117, 203);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out; /* Adjust the duration and easing as needed */
}

.highlight.active::after {
  transform: scaleX(1);
}

.profile-pic {
  flex-shrink: 0;
  width: 20vw; 
  height: 20vw; 
  border-radius: 50%; /* Make it circular */
  margin-left: 40px; 
  padding: 8px;
  background-color: rgb(153, 117, 203);
}

.header-bar {
  background-color: rgb(153, 117, 203);
  box-shadow: 0px 1px 5px rgb(15, 0, 27);
  width: 100%;
  top: 0;
  left: 0;
  height: 80px;
  position: absolute;
  display: flex;
  justify-content: end;
}

.close-icon {
  position: relative;
  padding: 25px;
  font-size: 2rem;
  color: rgb(153, 117, 203);
  cursor: pointer;
}

.menu-icon {
  position: relative;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  padding: 15px 50px 0px 0px;
  z-index: 2;
  font-weight: 700;
}

.side-menu {
  position: absolute;
  top: 0;
  width: 0;
  right: 0;
  height: 100%;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  background-color: white;
  transition: 0.5s;
  z-index: 1000;
}

.close-icon {
  position: relative;
}

.side-menu a {
  display: block;
}

.menu-text {
  list-style: none;
  width: 100%;
  padding: 0;
  margin-left: 30px;
  margin-top: 60px;
}

.menu-text a {
  margin: 20px 0;
  color: rgb(22, 22, 22);
  text-decoration: none;
  font-size: 1.2rem;
}


.about-me {
  padding: 10vh 8vw;
  margin: 0;
  text-align: left;
  z-index: 2;
  background-size: contain;
  background-color:  rgb(134, 226, 157);
}

.about-me strong {
  font-size: 1.4rem;
  font-weight: 700;
  padding-bottom: 30px;
}

.about-me-wrap {
  display: flex; 
  align-items: flex-start;
  background-color: rgb(30, 30, 30);
  box-shadow: 30px 30px .5px #525252;
  max-width: 800px;
  align-items: center;
  position: relative;
  margin: 10px auto 40px auto;
  padding: 30px;
  
}

.about-me p {
  width: 20vw;
  flex: 1;
  margin-right: 3vw;
  font-size: 1.2rem;
}

.software {
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.sw-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding: 0;
  width: 80%;
  max-width: 800px;
  margin: auto;
  background-color: rgb(255, 255, 255);
}

.sw-pic {
  width: 6vw;
  padding: 5px;
  margin: auto;
}

.project-container {
  width: 100%;
  height: 100vh;
  margin-bottom: 5vh;
  background-color: rgb(37, 36, 36);
}

.project-content {
  padding-top: 10vh;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  background-color: rgb(37, 36, 36);
}

.project-content h1 {
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 0 7px;
  width: fit-content;
  background-color: #3b3b3b;
}


.education {
  margin: 0;
  padding: 0;
  background-color: rgb(153, 117, 203);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh 0; /* Add padding for vertical spacing */
}

.education-content {
  width: 90%;
  max-width: 800px;
  background-color: rgb(29, 29, 29);
  color: white;
  padding: 30px;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.education-content h1 {
  margin: 0;
  text-align: left;
  font-size: 2rem;
  padding-left: 20px;
}

.education-content h2 {
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
}
.education-content h3 {
  padding-left: 20px;
  font-size: 1.2rem;
  margin-top: 20px;
  margin:auto;
  text-align: left;
  color: rgb(255, 255, 255);
}

.education-content h4 {
  transform: translateY(-10px);
  padding-left: 20px;
  font-size: 1.2rem;
  font-weight: 300;
  margin: auto;
  text-align: left;
  color: rgb(255, 255, 255);
}

.education-content p {
  font-size: 11pt;
  margin: 10px 0 10px 20px;
  line-height: 1.8;
}
.education-content ul {
  margin: 10px 0;
  line-height: 1.6;
  padding-left: 20px;
}

.education-content li {
  margin: 5px 0;
}

.course-description {
  display: none;
  margin-left: 20px;
  margin-top: 10px;
}

.underline {
  text-decoration: underline;
  color:rgb(134, 226, 157);
}

.course-item {
  margin-bottom: 10px;
  list-style: none;
}

.course-header {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the start */
  cursor: pointer;
  font-size: 12pt;
  font-weight: 300;
}

.course-header span {
  margin-right: 10px; /* Add some space between the text and the button */
}

.dropdown-btn {
  background: none;
  border: none;
  color:rgb(134, 226, 157);
  font-size: 1.6rem;
  cursor: pointer;
  margin-left: 10px;
  padding: 0; /* Remove padding */
}
.skill-chart{
  width: 30px;
  margin-left: 10px;
  transform: translateY(8px);
}
